<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnmiit.plinth">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activity.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.AstronomyActivity" />
        <activity
            android:name=".Activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.CodingActivity" />
        <activity android:name=".Activity.RoboticsActivity" />
        <activity android:name=".Activity.QuizzingActivity" />
        <activity android:name=".Activity.LiteratureActivity" />
        <activity android:name=".Activity.ManagementActivity" />
        <activity android:name=".Activity.ArmageddonActivity" />
        <activity android:name=".Activity.AstroHuntActivity" />
        <activity android:name=".Activity.StarTrekActivity" />
        <activity android:name=".Activity.FixthebugActivity" />
        <activity android:name=".Activity.IupcActivity" />
        <activity android:name=".Activity.DistarctionIupcActivity" />
        <activity android:name=".Activity.LfrActivity" />
        <activity android:name=".Activity.QuadcopterActivity" />
        <activity android:name=".Activity.TransporterActivity" />
        <activity android:name=".Activity.RoboraceActivity" />
        <activity android:name=".Activity.RobowarActivity" />
        <activity android:name=".Activity.RoboSoccerActivity" />
        <activity android:name=".Activity.QuestActivity" />
        <activity android:name=".Activity.WrangleActivity" />
        <activity android:name=".Activity.RostrumActivity" />
        <activity android:name=".Activity.SifActivity" />
        <activity android:name=".Activity.VehicleActivity" />
        <activity android:name=".Activity.WebomasterActivity" />
        <activity android:name=".Activity.AugmentedActivity" />
        <activity android:name=".Activity.CompleteLoginActivity" />
        <activity android:name=".Activity.PhotoGraphyWorkshopActivity" />
        <activity android:name=".Activity.CompleteRegisterActivity" />
        <activity android:name=".Activity.PrinterActivity"></activity>
    </application>

</manifest>